
/* main content start */

body{
    background-color: black !important;
    overflow: hidden;
}
/* navbar style */
.navigation{
    width: 98vw;
    position: absolute;
    top: 0;
    z-index: 0;
}
.navBox {
    position: sticky;
    top: 0;
    animation: fadein ease-in 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navBox a {
    font-family: 'Poppins';
    font-size: 20px;
    font-style: italic;
    color: white !important;
}

.navbutton{
    background: none;
    border: none;
    position: relative;
    margin-right: 5px;
}

.navbutton:focus{
   outline: none;
}
@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

  
/* end navbar */

/* soical box */
.socialbox{
    position: absolute;
    width: 100vw;
    height: 50px;
    bottom: 5px;
    padding-inline:70px;
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
}
.socialbox a{
    color: white;
}
.socialbox a:hover{
    color: white;
}
/*end soical box */

/* main contect*/
.main{
    padding-top: 25px;
    color: white;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
}

/* small projects */

.smallprojects,.bigprojects{
    width: 60vw;
  
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: "popins";
    padding-top: 80px;
}
.smallprojects p , .bigprojects p{
    font-size: 35px;
    font-weight: 500;
}

.smallprojects button, .bigprojects button{

    background: none;
    color: white;
    border: none;
    margin-top: 60px;
    height: 100px;
    font-size: 28px;
}

.smallprojects button p, .bigprojects button p{
font-size: 24px;
}
.slide{
    height: 220px;
}


/* button no outline */
.smallprojects button:hover ,.smallprojects button:active ,.smallprojects button:focus{
    outline: none;
    border: none;
}
.bigprojects button:hover ,.bigprojects button:active ,.bigprojects button:focus{
    outline: none;
    border: none;
}

